<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>PresentationApplis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- Module 3  -->
  <servlet>
 		<servlet-name>jeu</servlet-name>
 		<jsp-file>/WEB-INF/modules/module3/jeu.jsp</jsp-file>
 	</servlet>
 	
 	<servlet-mapping>
 		<servlet-name>jeu</servlet-name>
 		<url-pattern>/modules/module3/jeu.jsp</url-pattern>
 	</servlet-mapping>
 	
 	<servlet>
 		<servlet-name>resultat</servlet-name>
 		<jsp-file>/WEB-INF/modules/module3/resultat.jsp</jsp-file>
 	</servlet>
 	
 	<servlet-mapping>
 		<servlet-name>resultat</servlet-name>
 		<url-pattern>/modules/module3/resultat.jsp</url-pattern>
 	</servlet-mapping>
 	
 	<!-- Module4 -->
 	<servlet>
 		<servlet-name>accueil</servlet-name>
 		<jsp-file>/WEB-INF/modules/module4/accueil.jsp</jsp-file>
 	</servlet>
 	
 	<servlet-mapping>
 		<servlet-name>accueil</servlet-name>
 		<url-pattern>/modules/module4/accueil.jsp</url-pattern>
 	</servlet-mapping>
 	
 	
 	<servlet>
 		<servlet-name>ajout</servlet-name>
 		<jsp-file>/WEB-INF/modules/module4/ajout.jsp</jsp-file>
 	</servlet>
 	
 	<servlet-mapping>
 		<servlet-name>ajout</servlet-name>
 		<url-pattern>/modules/module4/ajout.jsp</url-pattern>
 	</servlet-mapping>
 	
 	<servlet>
 		<servlet-name>visualiser</servlet-name>
 		<jsp-file>/WEB-INF/modules/module4/visualiser.jsp</jsp-file>
 	</servlet>
 	
 	<servlet-mapping>
 		<servlet-name>visualiser</servlet-name>
 		<url-pattern>/modules/module4/visualiser.jsp</url-pattern>
 	</servlet-mapping>
 	
</web-app>